<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <div class="upload">
	<h1>ParseFDS v1.0</h1>
    <!-- Main Input For Receiving Query to our ML -->
    <form id="package_form" action="" method="POST">
      <div>
        <p>Upload Output from FDS (any text format):</p>
        <p><input id="upload_button" type="file" class="btn btn-default btn-xs" name="file"></p>
        <p><input id="submit_button" type="submit" class="btn btn-success" value="Upload">
      </div>
    </form>
  <br>
  <br>


 </div>


</body>
</html>